@import 'assets/styles/default.scss';

.character-card {
  position: relative;
  box-sizing: border-box;
  border: $border solid $gray-third;
  border-radius: $radius;

  &.avatar {
    width: 254px;
    height: 223px;

    &:hover {
      cursor: pointer;
    }

    &:hover,
    &:focus {
      box-shadow: 0px 0px 0px 3px #c9d636, 0px 0px 5px 4px #c9d636,
        inset 0px 0px 0px 1px rgba(0, 0, 0, 0.6);
      border: $border solid $active;
    }

    @include mediaSize($medium) {
      width: 225px;
      height: 225px;
    }

    figure {
      width: 254px;
      height: 223px;

      @include mediaSize($medium) {
        width: 225px;
        height: 225px;
      }

      img {
        width: 250px;

        @include mediaSize($medium) {
          width: 220px;
          height: 165px;
        }
      }

      figcaption {
        height: 55px;
        width: 250px;

        @include mediaSize($medium) {
          max-width: 220px;
        }
      }
    }
  }

  &.badge {
    width: 178px;
    height: 173px;
    margin: -60px auto 0;

    @include mediaSize($medium) {
      width: 80%;
      height: 80%;
      max-width: 401px;
      max-height: 653px;
      position: absolute;
      top: 13%;
      left: -50px;
      margin: unset;
    }

    figure {
      width: 178px;
      height: 173px;

      @include mediaSize($medium) {
        width: 100%;
        height: 100%;
        max-width: 401px;
        max-height: 653px;
      }

      img {
        width: 173px;

        @include mediaSize($medium) {
          width: 100%;
          height: 89%;
          max-width: 390px;
          max-height: 653px;
        }
      }

      figcaption {
        height: 55px;
        width: 174px;
        
        @include mediaSize($medium) {
          width: 100%;
          max-width: 401px;
        }
      }
    }
  }

  figure {
    box-sizing: border-box;

    img {
      box-sizing: border-box;
      border-top-right-radius: $radius;
      border-top-left-radius: $radius;
      object-fit: cover;
    }

    figcaption {
      position: absolute;
      z-index: 2;
      bottom: 0px;
      left: 0;
      padding: 7px 14px;
      backdrop-filter: blur(10px);
      background: rgba(0, 0, 0, 0.9);
      box-sizing: border-box;
      border-bottom-right-radius: $radius;
      border-bottom-left-radius: $radius;
      display: block;

      h2 {
        color: $white;
        font-family: $font;
        @include convertToRem(font-size, 20);
        font-weight: bold;
        line-height: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      p {
        color: $white;
        font-family: $font;
        @include convertToRem(font-size, 12);
        line-height: 15px;
      }
    }
  }
}
