@import 'assets/styles/default.scss';

.header {
  max-width: 978px;
  margin: 2em auto;
  display: flex;
  justify-content: center;

  @include mediaSize($medium) {
    margin: 4em auto;
  }

  &--logo {
    max-width: 240px;
    @include animationScaleCenter;

    @include mediaSize($medium) {
      max-width: 502px;
    }
  }
}
