@import 'assets/styles/default.scss';

.header {
  &--logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 240px;
    
    @include mediaSize($medium) {
      max-width: 502px;
    }
  }
}
