@import './_colors.scss';

@mixin animationScaleCenter {
  animation: scaleCenter 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@mixin animationScaleLeft {
  animation: scaleLeft 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@mixin fadeIn {
  animation: fadeIn 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@mixin typing {
  animation: type 2s steps(40, end), blink 0.5s step-end infinite alternate;
  animation-fill-mode: forwards;
}

@mixin slideIn {
  animation: slideIn 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scaleCenter {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleLeft {
  0% {
    transform: scale(0);
    transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 50%;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  99% {
    border-right: 0.15em solid $yellow;
  }
  100% {
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes slideIn {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
