@mixin convertToRem($property, $value) {
  #{$property}: ($value / 16) + rem;
}

@mixin mediaSize($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin animationScaleCenter {
  animation: scaleCenter 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@mixin animationScaleLeft {
  animation: scaleLeft 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scaleCenter {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleLeft {
  0% {
    transform: scale(0);
    transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 50%;
    opacity: 1;
  }
}