@import './default.scss';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url(../images/background-rick-and-morty-mobile.png);
  background-color: $black;
  background-repeat: no-repeat;
  background-size: 100% max(568px);
  
  @include mediaSize($medium) {
    background-image: url(../images/rick-and-morty-background.png);
    background-size: 100% max(900px);
  }

  &.block-scroll {
    overflow: hidden;
  }
}
